<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Queries Executed</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body" *ngIf="data">
        <ol>
            <li *ngFor="let query of queries | async as queries">
                {{query.message}}
            </li>
        </ol>
    </div>
</ng-template>
<div class="card shadow-lg">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        <h3 class="card-title">Customers</h3>
        <ng-container *ngIf="!elapsed.loading">
          <p class="card-subtitle"><i class="bi bi-clock"> {{ elapsed.duration }} {{elapsed.elapsedLabel}}</i></p>
            <ng-container *ngIf="data">
                <p class="card-subtitle">Found {{data.totalElements}}. Showing {{ data.size }} per page. </p>
                <p *ngIf="data.queriesIssued" class="card-subtitle"><i class="bi bi-search"></i>  {{data.queriesIssued}} queries to obtain results. </p>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="elapsed.loading">
          <div class="spinner-border text-success" role="status">
              <span class="sr-only"></span>
          </div>
        </ng-container>
      </div>
      <div class="align-items-end col-4">
        <button class="btn btn-outline-primary me-2" type="button" (click)="refresh()">Refresh Data</button>
          <button class="btn btn-secondary me-2" type="button" (click)="open(content)">Show Queries</button>
          <a [routerLink]="['/customers/new']" class="btn btn-outline-secondary">New Customer</a>
      </div>
    </div>
      <div class="row" *ngIf="useMongo | async">
          <div class="col-12 align-items-start">
              <div class="form-check form-select-lg form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="searchForm" (change)="toggleSearch()">
                  <label class="form-check-label" for="searchForm" *ngIf="showSimpleSearch">Simple Search</label>
                  <label class="form-check-label" for="searchForm" *ngIf="showComplexSearch">Complex Search</label>
              </div>
          </div>
      </div>
    <form [formGroup]="searchForm" (submit)="refresh()">
        <div class="row py-5" #collapse="ngbCollapse" [(ngbCollapse)]="showComplexSearch">
            <div class="col form-group">
                <label for="searchTerm">Search</label>
                <input type="text" id="searchTerm" class="form-control"  aria-label="Title" formControlName="searchTerm">
            </div>
        </div>
      <div class="row py-3" #collapse="ngbCollapse" [(ngbCollapse)]="showSimpleSearch">
          <div class="row g-3">
            <div class="col form-group">
              <label for="title">Title</label>
              <input type="text" id="title" class="form-control"  aria-label="Title" formControlName="title">
            </div>
            <div class="col form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control"  aria-label="First name" formControlName="firstName" id="firstName">
            </div>
            <div class="col form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control"  aria-label="Last name" formControlName="lastName" id="lastName">
            </div>
          </div>
          <div class="row g-3 py-2">
            <div class="col form-group">
              <label for="street">Street</label>
              <input type="text" class="form-control"  aria-label="Street" formControlName="street" id="street">
            </div>
            <div class="col form-group">
              <label for="city">City</label>
              <input type="text" class="form-control"  aria-label="City" formControlName="city" id="city">
            </div>
            <div class="col form-group">
              <label for="state">State</label>
              <input type="text" class="form-control"  aria-label="State" formControlName="state" id="state">
            </div>
            <div class="col form-group">
              <label for="zip">Zip</label>
              <input type="text" class="form-control"  aria-label="Zip Code" formControlName="zip" id="zip">
            </div>
          </div>
          <div class="row g-3 py-2">
            <ng-container formGroupName="phone">
              <div class="col form-group">
                <label for="phone_type">Phone Type</label>
                <select class="form-control" aria-label="phone.type" formControlName="type" id="phone_type">
                  <option selected value="Phone Type">Select Phone Type</option>
                  <option value="home">Home</option>
                  <option value="work">Work</option>
                  <option value="mobile">Mobile</option>
                </select>
              </div>
              <div class="col form-group">
                <label for="number">Phone Number</label>
                <input type="text" class="form-control"  aria-label="phone.number" formControlName="number" id="number">
              </div>
            </ng-container>
            <ng-container formGroupName="email">
              <div class="col form-group">
                <label for="email_type">Email Type</label>
                <select class="form-control" aria-label="email.type" formControlName="type" id="email_type">
                  <option selected>Select Phone Type</option>
                  <option value="home">Home</option>
                  <option value="work">Work</option>
                  <option value="mobile">Mobile</option>
                </select>
              </div>
              <div class="col form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" aria-label="email.email" formControlName="email">
              </div>
            </ng-container>
          </div>
      </div>
      <div class="row py-3">
        <div class="col">
          <button type="submit" class="btn btn-primary">Search</button>
          <button type="button" class="btn btn-outline-primary mx-3" (click)="resetForm()">Reset</button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body"  *ngIf="data && !elapsed.loading">
    <ngb-pagination *ngIf="data.totalElements"
      [collectionSize]="data.totalElements"
      [page]="data.pageable.pageNumber + 1"
      [pageSize]="data.pageable.pageSize"
      [boundaryLinks]="true"
      [maxSize]="5"
      (pageChange)="setPage($event)"
    >
    </ngb-pagination>
    <table class="table table-hover">
      <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
            <th scope="col">Phones</th>
            <th scope="col">Emails</th>
        </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let customer of data.content, let  i = index">
              <tr (click)="collapseRow(i, customer.id)">
                <td><i [ngClass]=" rowCollapsed[i] ? 'bi bi-caret-down' : 'bi bi-caret-up'"></i></td>
                <td>{{ customer.title }} {{ customer.firstName }} {{ customer.lastName }}</td>
                <td>{{ customer.address?.street }}</td>
                <td>{{ customer.address?.city }}</td>
                <td>{{ customer.address?.state }}</td>
                <td>{{ customer.address?.zip }}</td>
                <td>
                  <p *ngFor="let phone of customer.phones">{{phone.type}}: {{phone.number}}
                </td>
                <td>
                  <p *ngFor="let email of customer.emails">{{email.type}}: {{email.email}}
                </td>
              </tr>
              <tr [ngClass]="{'hide-row' : rowCollapsed[i]}">
                  <ng-container *ngIf="!rowCollapsed[i]">
                      <td colspan="8">
                          <div class="accordion accordion-item" [ngbCollapse]="rowCollapsed[i]">
                              <div class="card">
                                  <table class="table table-borderless table-group-divider">
                                      <thead>
                                      <tr>
                                          <th scope="col">Order Date</th>
                                          <th scope="col">Total Pieces</th>
                                          <th scope="col">Order Status</th>
                                          <th scope="col">Total</th>
                                          <th scope="col">Shipped Date</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      @if (useMongo | async) {
                                          <ng-container *ngIf="customer.recentOrders">
                                              <tr *ngFor="let order of customer.recentOrders">
                                                  <td>{{ order.orderDate | date: 'short'}}</td>
                                                  <td>{{ order.totalPieces}}</td>
                                                  <td>{{ order.orderStatus}}</td>
                                                  <td>{{ order.total | currency}}</td>
                                                  <td>{{ order.deliveryDate | date: 'short'}}</td>
                                              </tr>
                                          </ng-container>
                                      } @else {
                                          <ng-container *ngIf="recent[i] | async as currentResult">
                                              <tr *ngFor="let order of currentResult.content">
                                                  <td>{{ order.orderDate | date: 'short'}}</td>
                                                  <td>{{ order.totalPieces}}</td>
                                                  <td>{{ order.orderStatus}}</td>
                                                  <td>{{ order.total | currency}}</td>
                                                  <td>{{ order.deliveryDate | date: 'short'}}</td>
                                              </tr>
                                          </ng-container>
                                          <ng-container *ngIf="!recent[i]">
                                              <tr colspan="5">
                                                  <div class="spinner-border text-success" role="status">
                                                      <span class="sr-only"></span>
                                                  </div>
                                              </tr>
                                          </ng-container>
                                      }
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </td>
                  </ng-container>
              </tr>
          </ng-container>
      </tbody>
    </table>
  </div>
</div>
