<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        <p class="card-title">Customers</p>
        <p class="card-subtitle">Retrieval took {{ elapsed}} </p>
      </div>
      <div class="align-items-end col-2">
        <button class="btn btn-outline-dark" type="button" (click)="refresh()">Refresh Data</button>
      </div>
      <div class="col-2">
        <div class="form-check form-switch px-3">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="collapse.toggle()" [checked]="isCollapsed">
          <label class="form-check-label" for="flexSwitchCheckDefault" *ngIf="isCollapsed">Show Search Form</label>
          <label class="form-check-label" for="flexSwitchCheckDefault" *ngIf="!isCollapsed">Hide Search Form</label>
        </div>
      </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="row py-5">
        <form [formGroup]="searchForm" (submit)="refresh()">
          <div class="row g-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Title" aria-label="Title" formControlName="title">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name" formControlName="firstName">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" formControlName="firstName">
            </div>
          </div>
          <div class="row g-3 py-2">
            <div class="col">
              <input type="text" class="form-control" placeholder="Street" aria-label="Street" formControlName="street">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="City" aria-label="City" formControlName="city">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="State" aria-label="State" formControlName="state">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Zip Code" aria-label="Zip Code" formControlName="zip">
            </div>
          </div>
          <div class="row g-3 py-2">
            <ng-container formGroupName="phones">
              <div class="col">
                <select class="form-control" aria-label="phones.type" formControlName="type">
                  <option selected value="Phone Type">Select Phone Type</option>
                  <option value="home">Home</option>
                  <option value="work">Work</option>
                  <option value="mobile">Mobile</option>
                </select>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Phone Number" aria-label="phones.number" formControlName="number">
              </div>
            </ng-container>
            <ng-container formGroupName="emails">
              <div class="col">
                <select class="form-control" aria-label="emails.type" formControlName="type">
                  <option selected>Select Phone Type</option>
                  <option value="home">Home</option>
                  <option value="work">Work</option>
                  <option value="mobile">Mobile</option>
                </select>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Email" aria-label="emails.email" formControlName="email">
              </div>
            </ng-container>
          </div>
          <div class="row py-3">
            <div class="col">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="card-body">
    <table class="table table-striped" *ngIf="data | async as data">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip</th>
        <th scope="col">Phones</th>
        <th scope="col">Emails</th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let customer of data">
            <td>{{ customer.title }} {{ customer.firstName }} {{ customer.lastName }}</td>
            <td>{{ customer.address.street }}</td>
            <td>{{ customer.address.city }}</td>
            <td>{{ customer.address.state }}</td>
            <td>{{ customer.address.zip }}</td>
            <td>
              <p *ngFor="let phone of customer.phones">{{phone.type}}: {{phone.number}}
            </td>
            <td>
              <p *ngFor="let email of customer.emails">{{email.type}}: {{email.email}}
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
